/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass/static/Overpass-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass/static/Overpass-ExtraBold.ttf');
  font-weight: 700;
  font-weight: bold;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass/static/Overpass-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/Overpass/static/Overpass-Light.ttf');
  font-weight: light;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Overpass, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 15px;
}

.headingOne {
  font-size: 1.3em;
  font-weight: bold;
}

.navBarBorder {
  border-bottom: 3px solid gray;
}

.text-border {
  -webkit-text-stroke: 1px gray;
  text-stroke: 1px gray;
  font-weight: bold;
  background-image: linear-gradient(to right, red, orange,indigo);
  -webkit-background-clip: text;
  color: transparent;
}

@layer components {
  .rise-up {
    animation: rise-up 300ms ease-in forwards;
  }

  @keyframes rise-up {
    0% {
      transform: translateY(105vh);
    }
    100% {
      transform: translateY(0);
    }
  }
}